<nav class="bg-orange-100 shadow-md border-b border-orange-200 fixed w-full">
  <div class="container mx-auto flex items-center justify-between px-4 py-3">
    <!-- Left: Home -->
    <a [routerLink]="['/posts']" class="text-xl font-bold text-orange-600 hover:underline">
      Home
    </a>
    <!-- Right: Dropdown Menu -->
    <div class="parallelogram">
      <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" class="text-amber-800 text-xl font-bold hover:underline focus:outline-none">
        Menu
        <mat-icon class="ml-2" [ngClass]="{'rotate-180': menuTrigger.menuOpen}">►</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu" class="bg-gray-50 border border-orange-200 rounded shadow-lg">
      <ng-container class="bg-gray-50" *ngIf="authService.roleSubject.value === 'writer' || authService.roleSubject.value === 'admin'">
        <!-- Dashboard -->
        <button mat-menu-item [routerLink]="['/dashboard']" class="block px-4 py-2 text-orange-600 hover:bg-orange-100">Dashboard</button>
      </ng-container>
      <!-- Login -->
      <button mat-menu-item [routerLink]="['/security/login']" class="bg-gray-50 block px-4 py-2 text-orange-600 hover:bg-orange-100">Login/Logout</button>
      <ng-container *ngIf="authService.roleSubject.value === 'writer' || authService.roleSubject.value === 'admin'">
        <!-- Write -->
        <button mat-menu-item [routerLink]="['/posts/write']" class="block px-4 py-2 text-orange-600 hover:bg-orange-100">Write</button>
      </ng-container>
      <ng-container *ngIf="authService.roleSubject.value === 'reviewer' || authService.roleSubject.value === 'admin'">
        <!-- Review -->
        <button mat-menu-item [routerLink]="['/posts/review']" class="block px-4 py-2 text-orange-600 hover:bg-orange-100">Review</button>
      </ng-container>
    </mat-menu>
  </div>
</nav>
