<nav class="bg-orange-100 shadow-md border-b border-orange-200 fixed w-full">
  <div class="container mx-auto flex items-center justify-between px-4 py-3">
    <!-- Left: Home -->
    <a [routerLink]="['/posts']" class="text-xl font-bold text-orange-600 hover:underline">
      Home
    </a>
    <!-- Right: Dropdown Menu -->
    <div class="flex items-center">
      <!-- Bell Icon for Notifications -->
      <ng-container *ngIf="authService.roleSubject.value != 'guest'">
        <button class="mr-3" matBadgeColor="warn" matBadgeOverlap="true" matBadgeSize="medium" [matBadge]="notifications.length" [matBadgeHidden]="notifications.length === 0" mat-icon-button [matMenuTriggerFor]="notificationMenu" #notificationMenuTrigger="matMenuTrigger">
          <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #notificationMenu="matMenu" class="bg-gray-50 border border-orange-200 rounded shadow-lg">
          <ng-container *ngFor="let notification of notifications">
            <div class="flex items-center justify-between px-4 py-2">
              <button mat-menu-item [routerLink]="['/posts/improve', notification.postId]" class="text-orange-600 hover:bg-orange-100">
                {{ notification.content }}
              </button>
              <button mat-icon-button (click)="deleteNotification(notification.notificationId)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </ng-container>
        </mat-menu>
      </ng-container>
      <div class="parallelogram">
        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" class="text-amber-800 text-xl font-bold hover:underline focus:outline-none">
          Menu
          <mat-icon class="ml-2" [ngClass]="{'rotate-180': menuTrigger.menuOpen}">►</mat-icon>
        </button>
      </div>
    </div>
    <mat-menu #menu="matMenu" class="bg-gray-50 border border-orange-200 rounded shadow-lg">
      <ng-container class="bg-gray-50" *ngIf="authService.roleSubject.value === 'writer' || authService.roleSubject.value === 'admin'">
        <!-- Dashboard -->
        <button mat-menu-item [routerLink]="['/dashboard']" class="block px-4 py-2 text-orange-600 hover:bg-orange-100">Dashboard</button>
      </ng-container>
      <!-- Login -->
      <button mat-menu-item [routerLink]="['/security/login']" class="bg-gray-50 block px-4 py-2 text-orange-600 hover:bg-orange-100">Login/Logout</button>
      <ng-container *ngIf="authService.roleSubject.value === 'writer' || authService.roleSubject.value === 'admin'">
        <!-- Write -->
        <button mat-menu-item [routerLink]="['/posts/write']" class="block px-4 py-2 text-orange-600 hover:bg-orange-100">Write</button>
      </ng-container>
      <ng-container *ngIf="authService.roleSubject.value === 'reviewer' || authService.roleSubject.value === 'admin'">
        <!-- Review -->
        <button mat-menu-item [routerLink]="['/posts/review']" class="block px-4 py-2 text-orange-600 hover:bg-orange-100">Review</button>
      </ng-container>
    </mat-menu>
  </div>
</nav>
