.parallelogram {
  display: inline-block;
  background-color: coral; /* Slightly darker than cyan-100 */
  transform: skew(-20deg);
  padding: 0.2rem 0.2rem;
}

.parallelogram button {
  transform: skew(20deg);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.rotate-180 {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
