<div class="flex justify-center items-center mt-8 mx-4">
  <button (click)="openFilterModal()" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 transition duration-300">Open Filter</button>
</div>
<div class="container">
  <mat-tab-group color="accent">
    <mat-tab label="My Concepts" class="">
      <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 gap-4 max-h-96 overflow-y-auto">
        @for (postConcept of filteredPostConcepts; track postConcept.id) {
          <div (click)="navigateToUpdatePost(postConcept.id)" class="post-card">
            <h2>{{ postConcept.title }}</h2>
            <p>{{ postConcept.content }}</p>
            <p class="author">By {{ postConcept.author }}</p>
          </div>
        }
      </div>
    </mat-tab>
    <mat-tab label="Pending Approval">
      <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 gap-4 max-h-96 overflow-y-auto">
        @for (post of filteredPosts; track post.id) {
          <div (click)="navigateToUpdatePost(post.id)" class="post-card">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p class="author">By {{ post.author }}</p>
          </div>
        }
      </div>
    </mat-tab>
    <mat-tab label="Rejected/Approved">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-h-96 overflow-y-auto">
        @for (post of filteredApproRejePosts; track post.id) {
          <div (click)="navigateToImprovePost(post.id)" class="post-card">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p class="author">By {{ post.author }}</p>
          </div>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
